:root {
    --white: #ffffff;
    --black: #000000;

    --font-primary: 'Arial', sans-serif;
    --font-size-base: 16px;

    --spacing-base: 1rem;
    
    --border-radius: 16px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Buttons */
.btns {
    display:flex;
    column-gap: 2rem;
    background-color: var(--white);
}

.btn {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: scale 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;
}
    
.btn:hover {
    transform: scale(1.2); 
}

.btns:has(.btn:hover) .btn:not(:hover) {
    transform: scale(1.2);
    opacity: 0.8;
    filter: blur(22px);
}
