:root {
    /* Tokens - Color scales */
    --white: #ffffff;
    --stone25: #FAFBFC;
    --stone50: #EBEDF0;
    --stone100: #DADEE3;
    --stone150: #C9CFD6;
    --stone200: #B9C0C9;
    --stone250: #A9B0BA;
    --stone300: #9AA2AD;
    --stone400: #8C94A1;
    --stone500: #7E8794;
    --stone600: #717985;
    --stone650: #656C75;
    --stone700: #585E66;
    --stone750: #4B5057;
    --stone800: #3E4247;
    --stone850: #313438;
    --stone900: #242629;
    --stone950: #17191A;
    --black: #000000;

    /* Tokens - Spacing */ 
    --spacing-2xs: 0.5rem;
    --spacing-xs: 0.875rem;
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;

    /* Tokens - Radius */ 
    --radius-xs: 8px;
    --radius-s: 16px;
    --radius-m: 32px;
    --radius-l: 64px;

    /* Typography */
    /* <weight>: Use a value from 100 to 900*/
    --font-family: "Lexend", sans-serif;

    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1rem;    /* 16px */
    --font-size-l: 1.5rem;   /* 24px */
    --font-size-xl: 2rem;   /* 32px */
    --font-size-2xl: 4rem;   /* 64px */

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

     /* sementics tokens */
    --button-text-size: var(--font-size-m);

    --bg-color: var(--stone950);
    --surface-color: var(--stone850);
    --border-color: var(--stone700);

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
    overflow: auto;
    height: 100%;
    color: var(--white);
}

h1, h2, h3 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
}

p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
}

.space-m {
    padding: var(--spacing-m);
}

/* Style the logo container */
.logo-container {
    margin-top: var(--spacing-2xs); /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust the logo size */
.logo {
    width: 250px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent overflow on small screens */
}


/* Buttons */
.btn {
    font-family: var(--font-family);
    font-size: var(--button-text-size);
    font-weight: var(--font-weight-light);
    text-decoration: none;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: var(--stone850);
    color: var(--white);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: var(--radius-s);
}
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--stone850);
    mix-blend-mode: lighten;
    left: 0;
    top: 0;
    border-radius: var(--radius-s);
    border: 1px solid var(--border-color); /* Border */
    
}
/* Button-glow */
.btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #0f0c29, #302b63, #780206, #061161,
        #f0b152,#4B1248,#24243e, #1b1552
    );
    position: absolute;
    top: -1px;
    left: -1px;
    background-size: 300%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(12px);
    /* animation */
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: var(--radius-s);
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
/* Button-hover */
.btn:hover::before {
    opacity: 1;
}
.btn:active:after {
    background: transparent;
}
.btn:active {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    background: var(--surface-color);
}
.btns {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-2xs);
}


/* Grid container */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: var(--spacing-xs); /* Space between cards */
    padding: var(--spacing-m); /* Space around the grid */
  }

/* breakpoints */  
@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .btns {
        flex-direction: row;
    }
}


  /* Card styling */
  .card {
    aspect-ratio: 1 / 1; /* Maintains a 1:1 aspect ratio for squares */
    border: 1px solid var(--border-color); /* Border */
    border-radius: var(--radius-s); /* Rounded corners */
    padding: var(--spacing-m); /* Space inside each card */
    background-color: var(--surface-color); /* Card background */
    text-decoration: none; /* Remove underline from links */
    color: var(--white); /* Default text color */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-end; /* Push content to the bottom */
    align-items: flex-start; /* Align content to the left */
    
    &:hover {
    border: 2px solid var(--border-color);
    box-shadow: 0px 0px 1000px 1000px #161616ab;
    z-index: 500;
    }
  
  }

/* Card title */
.card-title {
    font-size: var(--font-size-l); /* Title font size */
    margin-bottom: var(--spacing-2xs); /* Space below title */
  }
  
/* Card text */
.card-text {
    font-size: var(--font-size-s); /* Body text size */
    color: var(--white); /* Light gray text */
    margin-top: 0; /* Ensure no extra spacing above the description */
  }  