/* Anchor Link List */
.anchor-link-list {
    position: sticky; /* Sticky positioning */
    top: 0; /* Sticks to the top of the viewport */
    z-index: 1000; /* Ensure it stays above other elements */
    display: flex; /* Flexbox to align links horizontally */
    justify-content: left; /* Center the links horizontally */
    align-items: center; /* Align items vertically within the container */
    padding: var(--spacing-s) 0; /* Spacing inside the container */
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

/* Anchor Link List Styles */
.anchor-link-list ul {
    display: flex; /* Align items horizontally */
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
    gap: var(--spacing-2xs); /* Reset gap (we'll use borders for spacing) */
}

/* Individual Link Styles */
.anchor-link-list li {
    display: inline-flex; /* Ensure links align within the flex container */
}

.anchor-link {
    border: 1px solid var(--border-color);
    padding: var(--spacing-2xs); /* Add spacing inside the container */
    background-color: var(--anchor-surface-color);
    backdrop-filter: blur(16px); /* Apply the blur effect */
    display: inline-block; /* Make the entire link clickable */
    color: var(--white); /* Default text color */
    text-decoration: none; /* Remove underline */
    font-weight: var(--font-weight-light); /* Medium text weight */
    border-radius: var(--radius-xs); /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transitions */
}

/* Default Link State */
.anchor-link:hover {
    background-color: var(--anchor-surface-color-hover); /* Light background on hover */
    color: var(--white); /* Text Color on hover */
}

/* Active Link State */
.anchor-link.active {
    background-color: var(--stone150); /* Blue background for active link */
    color: var(--anchor-text-color-active); /* White text */
    font-weight: bold; /* Bold text for emphasis */
    border: transparent;
}

.anchor-link-list.hidden {
    opacity: 0;
    visibility: hidden;
}



/* Burger Menu Button(mobile) */
.burger-menu {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    z-index: 1001; /* Ensure it's above other elements */
    padding: var(--spacing-2xs);
    transition: transform 0.3s ease;
}

.burger-menu:focus {
    outline: 2px solid var(--border-color); /* Accessibility focus outline */
}


@media (max-width: 768px) {
    .anchor-link-list ul {
        flex-direction: column; /* Stack links vertically */
    }
    .burger-menu {
        display: none; /* Hide burger menu */
    }
}

