/* breadcrumbs.css */
.breadcrumbs {
    font-family: var(font-family);
    font-size: var(--font-size-l);
    margin-bottom: var(--spacing-m);
    width: 100%;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xs);
    padding: 0;
    margin: 0;
    width: 100%;
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
}

.breadcrumbs li[aria-current="page"] {
    font-weight: bold;
    color: var(--text-color-active);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%; /* Allow up to 60% of container width */
}

.breadcrumbs li[aria-current="page"].truncate {
    cursor: help; /* Indicates there's a tooltip */
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--text-color-rest);
    transition: color 0.3s ease;
}

.breadcrumbs a:hover {
    color: var(--text-color-hover);
}

.breadcrumbs li + li::before {
    content: "/";
    color: var(--text-color-pressed);
    margin: 0 var(--spacing-xs);
}

@media (max-width: 768px) {
    .breadcrumbs {
        font-size: var(--font-size-xs);
    }
    
    .breadcrumbs li[aria-current="page"] {
        max-width: 200px;
    }
}
