/* Main Header */
.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

/* Scrolled State */
.main-header.scrolled {
    background-color: transparent; /* Smaller header background */
    color: white; /* Text color for smaller header */
    padding: 10px 0; /* Reduced padding for smaller header */
    transition: height 1s ease; /* Smoothly shrink the logo */
}


.main-header.scrolled .logo {
    height: 55px; /* Smaller logo when scrolled */
}

/* Style the logo container */
.logo-container {
    margin-top: var(--spacing-2xs); /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust the logo size */
.logo {
    width: 250px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent overflow on small screens */
    transition: height 1s ease; /* Smoothly shrink the logo */
}


/* FOR BOTTOM APP BAR */
/* Default (hidden for larger screens) */
.bottom-app-bar {
    display: none; /* Hidden by default */
}

/* Mobile-specific styling */
@media (max-width: 768px) {
    .bottom-app-bar {
        display: flex; /* Flex container for items */
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; /* Full width of the screen */
        background-color: transparent; /* Background color */
        padding: 10px 0; /* Padding for spacing */
        z-index: 1000; /* Ensure it stays above other content */
    }

    /* App bar items */
    .app-bar-item {
        flex: 1; /* Equal width for each item */
        font-size: 14px; /* Font size */
        transition: all 0.3s ease; /* Smooth hover effect */
        text-align: center;
        padding: var(--spacing-s);
        margin: 0 var(--spacing-3xs);
    }

    /* Optional: Style spans or icons inside the app bar items */
    .app-bar-item span {
        display: block; /* Ensure text is on its own line */
    }

    .main-header {    
        display: none;
    }


}

/* Mobile-smaller screens styling */
@media (max-width: 480px) {
    .bottom-app-bar {
        font-size: var(--font-size-xs); /* Smaller font for smaller screens */
    }
}


