/* Main Header */
.main-header {
    position: null;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: var(--text-color-active);
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

/* Scrolled State */
.main-header.scrolled {
    background-color: transparent; /* Smaller header background */
    color: var(--text-color-active); /* Text color for smaller header */
    padding: 10px 0; /* Reduced padding for smaller header */
    transition: height 1s ease; /* Smoothly shrink the logo */
}


.main-header.scrolled .logo {
    height: 55px; /* Smaller logo when scrolled */
}

/* Style the logo container */
.logo-container {
    margin-top: var(--spacing-2xs); /* Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Adjust the logo size */
.logo {
    width: auto; /* Adjust width */
    height: 55px; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent overflow on small screens */
    transition: height 1s ease; /* Smoothly shrink the logo */
    padding-right: var(--spacing-m); /* Adjust as needed */
}


/* FOR BOTTOM APP BAR */
/* Default (hidden for larger screens) */
.bottom-app-bar {
    display: none; /* Hidden by default */
}

/* Mobile-specific styling */
@media (max-width: 768px) {
    .bottom-app-bar {
        display: flex; /* Flex container for items */
        position: fixed;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        width: 100%; /* Full width of the screen */
        background-color: var(--bg-color); /* Background color */
        border-radius: var(--radius-s) var(--radius-s) 0 0;
        border-top: 1px solid var(--border-color) ;
        padding: var(--spacing-m); /* Padding for spacing */
        z-index: 1000; /* Ensure it stays above other content */
    }

    /* App bar items */
    .app-bar-item {
        flex: 1; /* Equal width for each item */
        transition: all 0.3s ease; /* Smooth hover effect */
        text-align: center;

        font-family: var(--font-family);
        font-size: var(--button-text-size);
        font-weight: var(--font-weight-light);
        text-decoration: none;
        border-right: 1px solid var(--border-color);
        outline: none;
        background-color: none;
        color: var(--text-color-active);
        cursor: pointer;
        position: relative;
        z-index: 0;
    }
    /* Remove border-right from the last item */
    .app-bar-item:last-child {
    border-right: none;
    }

    /* Optional: Style spans or icons inside the app bar items */
    .app-bar-item span {
        display: block; /* Ensure text is on its own line */
    }

    .main-header {    
        display: none;
    }
    
    .logo {
        width: auto; /* Adjust width */
        height: 40px; /* Maintain aspect ratio */
        max-width: 100%; /* Prevent overflow on small screens */
        transition: height 1s ease; /* Smoothly shrink the logo */
    }


}

/* Mobile-smaller screens styling */
@media (max-width: 480px) {
    .bottom-app-bar {
        font-size: var(--font-size-s); /* Smaller font for smaller screens */
        padding: var(--spacing-2xs) 0; /* Padding for spacing */
        justify-content: center;
        align-items: center;
    }
    .logo-container {
        padding-left: var(--spacing-m); /* Adjust as needed */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: auto; /* Adjust width */
        height: 40px; /* Maintain aspect ratio */
        max-width: 100%; /* Prevent overflow on small screens */
        transition: height 1s ease; /* Smoothly shrink the logo */
        padding-right: 0; /* Adjust as needed */
    }
}


