/* Main Header */
.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

/* Scrolled State */
.main-header.scrolled {
    background-color: transparent; /* Smaller header background */
    color: white; /* Text color for smaller header */
    padding: 10px 0; /* Reduced padding for smaller header */
    transition: height 1s ease; /* Smoothly shrink the logo */
    transition-delay: 1s; /* Delay the transition by 1 second */
}


.main-header.scrolled .logo {
    height: 55px; /* Smaller logo when scrolled */
}

/* Style the logo container */
.logo-container {
    margin-top: var(--spacing-2xs); /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust the logo size */
.logo {
    width: 250px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent overflow on small screens */
    transition: height 1s ease; /* Smoothly shrink the logo */

}

