:root {
    /* Tokens - Color scales */
    --white: #ffffff;
    --stone25: #FAFBFC;
    --stone50: #EBEDF0;
    --stone100: #DADEE3;
    --stone150: #C9CFD6;
    --stone200: #B9C0C9;
    --stone250: #A9B0BA;
    --stone300: #9AA2AD;
    --stone400: #8C94A1;
    --stone500: #7E8794;
    --stone600: #717985;
    --stone650: #656C75;
    --stone700: #585E66;
    --stone750: #4B5057;
    --stone800: #3E4247;
    --stone850: #313438;
    --stone900: #242629;
    --stone950: #17191A;
    --black: #000000;

    /* Tokens - Spacing */ 
    --spacing-3xs: 0.25rem;
    --spacing-2xs: 0.5rem;
    --spacing-xs: 0.875rem;
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 4rem;
    --spacing-2xl: 8rem;
    --spacing-3xl: 16rem;

    /* Tokens - Radius */ 
    --radius-xs: 8px;
    --radius-s: 16px;
    --radius-m: 32px;
    --radius-l: 64px;

    /* Typography */
    --font-family: "Lexend", sans-serif;

    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1rem;    /* 16px */
    --font-size-l: 1.5rem;   /* 24px */
    --font-size-xl: 2rem;   /* 32px */
    --font-size-2xl: 4rem;   /* 64px */
    
    /* <weight>: Use a value from 100 to 900*/
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

     /* sementics tokens */
    --button-text-size: var(--font-size-m);

    --bg-color: var(--stone950);
    --surface-color: var(--stone850);

    --border-color: var(--stone700);

    --text-color-rest: var(--stone300);
    --text-color-active: var(--stone50);
    --text-color-hover: var(--stone150);
    --text-color-pressed: var(--stone200);
    --text-color-disabled: var(--stone600);

    --anchor-surface-color: var(--stone800);
    --anchor-surface-color-hover: var(--stone750);
    --anchor-text-color-active: var(--stone900);

    /* For blurred background */
    --blur-color-start: var(--stone50);
    --blur-color-end: var(--stone150);
}

/* sementics tokens */
.space-s {
    padding: 0 var(--spacing-s) 0;
}
.space-m {
    padding: 0 var(--spacing-m) 0;
}
.space-l {
    padding: 0 var(--spacing-l) 0;
}

.space-layout-r {
    padding-right: 20%;
}

.div-hori {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-vert {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For scrolling */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    background-color: var(--bg-color);
    overflow: auto;
    height: 100%;
    color: var(--white);
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Safari support */
    -ms-user-select: none; /* IE/Edge support */
}

h1 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-xs);
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Safari support */
    -ms-user-select: none; /* IE/Edge support */
}

h2, h3 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Safari support */
    -ms-user-select: none; /* IE/Edge support */
}

.content {
    padding: var(--spacing-m);
}

p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    line-height: 1.5; /* Adds more vertical space between lines */
    margin-bottom: var(--spacing-s);
}

ul {
    padding: 0 var(--spacing-m) 0;
}
  .figma-presentation iframe {
    width: 100%;
    height: 70vh; /* Occupies 70% of the viewport height */
    border: 1px solid var(--border-color);
    border-radius: var(--radius-m);
    
}

/* Parent container styles */
.parent-container {
    overflow: visible; /* Ensure sticky works */
}


@media (max-width: 768px) {
    .space-layout-r {
        padding-right: 0%;
    }
    h1 {
        font-family: var(--font-family);
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-l);
    }
}

/* Center align for screens wider than 1440px */
@media (min-width: 1440px) {
    body {
        display: flex; /* Enable Flexbox */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full viewport height */
        margin: 0; /* Remove default margin */
    }

    .content {
        text-align: left; /* Ensure content inside is left-aligned */
        width: 100%; /* Take full width of the parent */
        max-width: 1400px; /* Optional: Set a max width for the content */
    }
    .space-layout-r {
        padding-right: 0%;
    }
}
